__pycache__/
*.py[cod]
*.so

.venv/
venv/
venv2/
venv_ml/
.cache/
logs/

checkpoints/
predictions/
*.pt
*.pth
*.ckpt
*.pth.tar

Data/**/mace_cached_graphs/
Data/**/crystal_cached_graphs/
Data/**/cached_graphs/
Data/**/alignn_cached_graphs/

*.out
*.err
*.log
*.tmp
.DS_Store

*.tif
*.tiff
